*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box; 
 
}

/*Tipografia*/
/*Nav*/
header{
    font-family:"Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*Titulos*/
h1,h2,h3{
    font-family:"Poppins", sans-serif;
    font-weight: 700;
    font-style: italic; 
}

/*Descripcion*/
p{
    font-family:"Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

/*Header*/
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}   
    
/*Logo*/
header img{
    width: 200px;
    padding-left: 100px;   
}
body{
    width: 100vw;    
}


/*Banner principal*/
.cont-img{     
    width: 100%;  
    height: 100vh; 
}

.cont-text-left{
    background:url(../assets/images/original4.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    width: 100%;
    height: 100%
}

.cont-text-left h1{       
    padding-left: 50px;
    padding-top: 300px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000;
}    
.cont-text-left p{
    padding-left: 50px;
    padding-top: 10px;  
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000;
}



/*Porfolio*/

.porfolio{
    width: 100%;
    margin-top: 20px;   
}
.porfolio-encabezado{
    margin-bottom: 30px;
    padding-left: 30px; 
    text-align: center; 
}
.porfolio p{   
    color: rgb(99, 98, 98);    
    font-size: 20px;
    font-family:"Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; 
}
.porfolio h2{
    color: black;
    padding-left: 30px; 
    font-size: 40px;    
    padding-top: 20px;
}

/*Porfolio cards*/
.cont-card{
    background-color:rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
    padding: 20px 50px;       
}
 /*Tarjeta*/
.card{
    background-color: rgb(255, 255, 255);   
    border-radius: 5px;
    padding: 5px;    
    box-shadow: -8px 5px 19px -2px rgba(99,99,99,0.8);
    border: 1px solid rgb(177, 172, 172);    
}

.card h3{
    font-size: 20px;
    padding: 5px;
}

.card img{
    width: 100%;
    height: 150px;
    border-radius: 5px;    
}
.card p{
    font-size:12px;
    padding-top: 10px;
    padding-left: 0px;
    text-align: left;
}
.card a{
    display: flex;
    justify-content: end;     
    margin-top: 50px;
}
.card a img{    
    width: 30px;
    height: 30px;
}

/*Seccion ESTUDIOS */
.learn{ 
    width: 100%;
    margin-top: 20px;    
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}
.learn-encabezado{
    width: 90%;  
}
.learn p{   
    color: rgb(99, 98, 98);    
    font-size: 20px;
    font-family:"Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; 
}
.learn h2{  
    text-align: center;  /*no entiendo porque no se alinea con align flex*/
    color: black;
    padding-bottom: 30px;
    font-size: 40px;    
    padding-top: 20px;
}
/*Estudios habilidades*/
.learn-card{
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;   /*se colocan los dos div, uno al lado del otro*/  
    flex-direction:row;
}
.learn-card-habBlandas{
    width: 50%;
    padding-left: 200px ;   
}
.learn-card-habBlandas ul li{
    list-style-type: none;
    font-size: 15px;
    font-family:"Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.learn-card-habBlandas h3{
    margin-bottom: 10px;
}
/*Estudios herramientas*/
.learn-card-habTecnicas{
    width: 50%;
}
.learn-card-habTecnicas h3{
    margin-bottom: 20px;
}
.learn-card-habTecnicas-img{
    width: 100%;
    display: grid; /*Tengo control de las cordenada para hacer que le contenido se alinea al centro*/
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
    justify-content: center;
}
.learn-card-habTecnicas-img div{
    background-color: rgb(206, 196, 194);
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin: 5px;
}
.learn-card-habTecnicas-img div img {
    width: 60px;
    height: 60px;    
    padding: 5px;
}

/*Seccion About*/

.about{
    width: 100%;
    background-color:#ecf0f1;  
    padding: 20px; 
}
.about-body{
    display: flex;
    justify-content:center;
    align-items:center;
    
}
.about-text{
    width: 50%;
    padding-left: 50px;
}
.about h2{
    color: black;
    font-size: 40px;    
    padding-top: 20px;   
}

.about h3{
    color: black;    
    font-size: 20px;      
}

.about p{
    color: rgb(99, 98, 98);    
    font-size: 15px;
    font-family:"Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 10px;
}

.about-img{
    width: 50%;   
}
.about-img img{
    width: 95%;
    border-radius:5px ;
    box-shadow: -8px 5px 19px -2px rgba(255, 255, 255, 0.8);
}

.about-images{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,180px));
    grid-template-rows: repeat(auto-fit, minmax(50px,200px)); 
    justify-content: center;  
    margin-top: 15px;
    gap:5px;
   
     
}.about-images img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.about-images img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/*contacto*/

.contact{
    width: 100%;   
    background-color:#ecf0f1; 
    margin-bottom: 20px;
    padding-bottom: 20px; 
}

.contact h2{
    color: black;
    font-size: 40px;    
    padding-top: 20px; 
    text-align: center;
    margin-bottom: 15px;
}

.contact-body{
    display: flex;
}

.form{
    width: 50%;
    padding-left: 50px;
}

.redes{
    width: 50%;
}
.redes ol{
    display: flex;
    justify-content:center;

}

.redes ol li{
    list-style-type: none;
}
.redes ol li a img{
    width: 50px;
    padding-right: 10px;
}
/*Boton volver arriba*/
.enlace-arriba{
    width:70px;
    position: fixed;
    bottom:0;
    right: 0;
    padding: 10px;
}
.enlace-arriba a img{
   width: 100%;
}

/*Footer*/
footer{
    display: flex;    
}

footer img{
    width: 20px;
    height: 20px;   
}
footer h4{
    color: black;
    font-size: 20px;    
}

/* Media querie para tablet */
@media (max-width: 880px) {
    
    /*Banner*/
    .cont-text-left h1{       
        padding-left: 20px;
        padding-top: 100px; 
        font-size: 20px;    
    }
    .cont-text-left p{
        padding-left:20px;
        padding-top: 5px; 
        font-size: 15px; 
    }

    /*sobre mi*/
    .about-text{    
        padding-left: 25px;
    }
    .about h2{     
        padding-top: 10px;   
    }
    .about h3{      
        font-size: 15px;      
    }
    .about p{       
        font-size: 12px;   
        padding-right: 20px;
    }

    .about-img{
        width: 50%;    
    }
    .about-img img{
        width: 90%;
        border-radius:5px ;
        box-shadow: -8px 5px 19px -2px rgba(255, 255, 255, 0.8);
    }   

    .about-images img{
    width: 90%;
    height: 90%;
    border-radius: 5px;
    }

    /*estudios*/   
    .learn p{       
    font-size: 15px;
    }
    .learn h2{     
    font-size: 40px;    
    }   
    .learn-card-habBlandas{
        padding-left: 10px;
    }   

}

 
/* Media querie para celulares */
@media (max-width: 480px){
    
    /*Banner*/
    .cont-text-left h1{        
        font-size: 12px;    
    }
    .cont-text-left p{      
        font-size: 12px; 
    }

    /*sobre mi*/
    /*deberia ir uno abajo del otro*/

   
    .about-body{
        display: flex;
        flex-direction:row;
        justify-content:center;
        align-items:center; 
        background-color: aqua;      
    }
    
    
    .about-text{  
        width: 100%;  
        
        background-color: violet;
    }
    
    .about-img{
        display: flex;
        flex-direction: column;
        background-color: yellow;
        width: 100%; 
        
    }
    
    .about-images{
        display: flex;
        flex-direction: column !important;
        background-color: yellow;
        width: 100%;        
    }
    .about-images img{
        width:50px ;
        height:50px ;
    }

   

    

    /*estudios*/   
    .learn p{       
    font-size: 15px;
    }
    .learn h2{     
    font-size: 40px;    
    }   
    .learn-card-habBlandas{
        padding-left: 10px;
    }   

}

      